
#no1 h1{margin-left: 80px;}
#no1{background-color: rgb(15, 190, 103); padding-top: 0%;}
#no1 #s1{color: white; font-size: 52px;}
#no1 #s2{color: gray; font-family: 'Georgia';}
#no1 #b{border: none; background-color: transparent; margin-top: 45px; font-size: 16px; color: gray; margin-left: 20px;}
#no1 #b:hover{color: white;}
#no1 #log{background-color: white; border: 4px solid white; border-radius: 15px; margin-top: 40px; color: rgb(15, 190, 103);}
#no1 #log:hover{background-color: rgb(15, 190, 103); color: white;}
#no1 #img{height: 50vh; width: 50vh; border-radius: 100%; background-position: center; margin-top: 30px; background-size: cover;}
#no1 #in{height: 57vh; width: 50vh;}
#no1 #imt{padding-left: 80px; padding-right: 80px;}
#no1 #nav1{height: 30px; background-color: white;}
#no1 #a{margin-left: 23px; font-size: 15px; font-family: 'Georgia'; margin-top: 3.5px; text-decoration: none;}
#no1 #e{color: rgb(15, 190, 103); font-size: 18px;}
#no1 #g{color: gray;font-family: 'Goergia';}
#no1 #p1{font-size: 48px; color: white; text-align: left; margin-top: 30px;}
#no1 #p2{font-size: 20px; color: white;}
#no1 #md{width: 60vh;}
#no1 #mh{background-color: rgb(15, 190, 103);}
#no1 #center1{color: white; font-size: 30px;}
#no1 #nu{text-decoration: none;}
#no1 #mf{background-color: rgb(15, 190, 103);}
#no1 #dm{background-color: gray;}
#no1 #ai{text-decoration: none; color: white; line-height: 50px;}
#no1 #ai:hover{color: black;}
#no1 .active{background-color: gray; border: none;}
#no1 .item{background-color: transparent;}


#no3 img{height: 30vh; width: 30vh; border-radius: 3px;}
#no3 .thumbnail{width: 30vh; height: auto;}
#no3 .caption{text-align: center;}